# Core dependencies
dbt-core==1.8.0
dbt-snowflake==1.8.0
snowflake-connector-python[pandas]==3.12.4  # write_pandas() activé

# MySQL RDS
mysql-connector-python==8.4.0

# Kafka
kafka-python==2.0.2

# Data processing
pandas==2.1.4
pyarrow==14.0.1

# Configuration
python-dotenv==1.0.0
pyyaml==6.0.1

# Utilities
requests==2.31.0
